<style>


  html#ecwid_html body#ecwid_body .ec-size .ec-store .product-details--layout-sidebar-right .product-details__gallery {
    display: none;
  }
  html#ecwid_html body#ecwid_body .ec-size.ec-size--s .ec-store .product-details--layout-sidebar-right .product-details__gallery {
    display: none;
  }
  html#ecwid_html body#ecwid_body .ec-size.ec-size--s .ec-store .product-details--layout-sidebar-right .product-details__description {
    float: left;
    clear: left;
    width: auto;
}
  html#ecwid_html body#ecwid_body .ec-size.ec-size--s .ec-store .product-details--layout-sidebar-right .product-details__sidebar {
  display: none;
  }
  html#ecwid_html body#ecwid_body .product-details__product-options .details-product-options {
  display: none;
  }
.product-details__sidebar {
  display: none;
  }
.product-details__product-title .ec-header-h3 {
  display: none;
  }
html#ecwid_html body#ecwid_body .ec-size.ec-size--s .ec-store .product-details--no-images.product-details--description-basic.product-details--layout-sidebar-right .product-details__description .product-details__product-title, html#ecwid_html body#ecwid_body .ec-size.ec-size--s .ec-store .product-details--no-images.product-details--description-basic.product-details--layout-sidebar-right .product-details__description .ec-breadcrumbs {
  display: none
  }
html#ecwid_html body#ecwid_body .ec-size .ec-store .product-details__product-description details {
    border-bottom: 1px solid #CDD4DB;
    /* transition: height .4s ease-out; */
    overflow: hidden;
    content: "6757";
    font-size: medium;
    background-color: bisque;
    font-size: 540px;
  background-image: url(https://d2j6dbq0eux0bg-cdn.ecwid.net/images/185142/4060560743.png);
   /* background-image: url(https://airtable.com/images/about/logos-horizontal.png); */
    margin: auto;
  padding: 1px;}
  .cover-layout--menu.cover-title-size--m .cover-title {
    font-size: 15px;
}

</style>
